.App {
  text-align: center;
}

.App {
  background-color: #282c34;
}

.Main{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.Navbar{
  justify-content: flex-start;
}

.loginHeader{
  text-align: center;
  margin-bottom: 4vh;
}

.stockifyHeader{
  top: -200px;
  text-align: center;
  justify-content: flex-start;
}

.signupText {
  margin-top: 10px;
  text-align: center;
}
.signupLink{
  margin-left: 4px;
  font-weight: bold;
}

.loginContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.loginForm{
  width: 100%;
  max-width: 400px;
}

.App-link {
  color: #61dafb;
}

/* DetailView CSS PROPERTIES */
.c3-tooltip td {
  color: #222;
}

.stockListItem {
  display: flex;
  flex-direction: column; 
}

.stockList {
  display: flex;
  flex-direction: column;
}


.DVstockTitle{
  top: -200px;
  text-align: center;
  justify-content: flex-start;
  font-size: 70px;
  margin: 20px
}

.DVpriceStock{
  text-align: center;
  margin: 5px;
  font-size: 30px;
}

.DVbuttons{
  margin: 5px;
  text-align: center;
}

.DVbuttons button{
  margin: 5px;
}